* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  line-height: 1;
  font-weight: 400;
  font-family: "Plus Jakarta Sans", sans-serif;
  color: #83869a;
  background-image: linear-gradient(#ffffff, #f0f1ff 100%);
}

.container {
  max-width: 112rem;
  margin: 0 auto;
}

.btn:link,
.btn:visited {
  display: inline-block;
  text-decoration: none;
  transition: all 0.3s;
  padding: 1.6rem 3.2rem;
  font-size: 1.8rem;
  line-height: 1.5;
  border-radius: 2.8rem;
  font-weight: 600;
}

.grid {
  display: grid;
  column-gap: 3.2rem;
  row-gap: 5.6rem;
}

.grid--2--cols {
  grid-template-columns: 1fr 1fr;
}
.grid--3--cols {
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr 1fr;
}

.align-items-v {
  align-items: center;
}

.heading-primary {
  font-size: 5.6rem;
  line-height: 1.2;
  font-weight: 800;
  color: #13183f;
  margin-bottom: 2.4rem;
}

.heading-secondary {
  font-size: 3.2rem;
  font-weight: 800;
  line-height: 1.2;
  color: #fff;
  align-self: stretch;
}
